<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssh">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Condivisi_con_me"
            android:exported="true"
            android:parentActivityName=".Avvisi"/>
        <activity
            android:name=".Avvisi_insegnante"
            android:exported="true"
            android:parentActivityName=".Avvisi"/>
        <activity
            android:name=".Avvisi_atutti"
            android:exported="true"
            android:parentActivityName=".Avvisi"/>
        <activity
            android:name=".Valutazioni_libretto"
            android:exported="true"
            android:parentActivityName=".Libretto"/>
        <activity
            android:name=".Note_libretto"
            android:exported="true"
            android:parentActivityName=".Libretto"/>
        <activity
            android:name=".Qr_result"
            android:exported="false"
            android:parentActivityName=".Qr_Reader"/>
        <activity
            android:name=".Qr_Reader"
            android:exported="false"
            android:parentActivityName=".Libretto" />
        <activity
            android:name=".Qr_generator"
            android:exported="false"
            android:parentActivityName=".Documento" />
        <activity
            android:name=".Mappa"
            android:exported="true"
            android:parentActivityName=".Documento_o_Mappa_Scelta" />
        <activity
            android:name=".Documento"
            android:exported="true"
            android:parentActivityName=".Documento_o_Mappa_Scelta" />
        <activity
            android:name=".doc_map_scelta"
            android:exported="true" />
        <activity
            android:name=".Libretto"
            android:exported="true"
            android:parentActivityName=".Activity_Scuola" />
        <activity
            android:name=".Avvisi"
            android:exported="true"
            android:parentActivityName=".Activity_Scuola" />
        <activity
            android:name=".Documento_o_Mappa_Scelta"
            android:exported="true"
            android:parentActivityName=".Activity_Scuola" />
        <activity
            android:name=".Stato_salute"
            android:exported="true"
            android:parentActivityName=".Activity_Salute" />
        <activity
            android:name=".Papprendimento"
            android:exported="true"
            android:parentActivityName=".Activity_Salute" />
        <activity
            android:name=".malattie_gravi"
            android:exported="true"
            android:parentActivityName=".Activity_Salute" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/back" />

        <activity
            android:name=".Activity_Scuola"
            android:exported="true"
            android:parentActivityName=".Schermata_Principale" />
        <activity
            android:name=".Activity_Salute"
            android:exported="true"
            android:parentActivityName=".Schermata_Principale" />
        <activity
            android:name=".Schermata_Principale"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>